* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Drawing the box */
#container {
  margin: 1vh;
  height: 400px;
  width: 800px;
  background: rgb(197, 197, 197);
  border: 1px solid #333;
  position: relative;
}
